<div class="excercises">
  {{#if logs}}
    <h1>Your excercises</h1>
    <div class="excercises-container">
      {{#each logs}}
        <div class="excercise">
          <h3>Description: {{this.description}}</h3>
          <h3>Duration: {{this.duration}}</h3>
          <h3 class="date">Date: {{this.created_at}}</h3>
          <a href="edit/{{this.id}}">Edit</a>
          <a href="delete/{{this.id}}">Delete</a>
        </div>
      {{/each}}
    </div>  
  {{else}}
    
      <h2>
        No saved excercise yet!
      </h2>
    
  {{/if}}
</div>